<div class="widget-title">
    <h3 class="title">
        Address
    </h3>
</div>
<div class="media mb-2">
    <i class="d-flex g-color-gray-dark-v5 mt-1 mr-3 icon-hotel-restaurant-235 u-line-icon-pro"></i>
    <div class="media-body">
        <!-- <img class="u-block-hover__main--grayscale g-width-50 g-height-50" src="assets/images/menu/places.png" alt="Image Description"> -->
        <!-- <a href="#" class=" u-btn-hover-v1-4 g-letter-spacing-0_5 text-uppercase  g-px-20 g-mr-10 g-mb-15" style="color:gray"> -->
        <!-- <i class="fa fa-address-card pull-left g-font-size-48 "></i> -->
        <!-- </a> -->
        Unit 25 Suite 3, 925 Prospect PI
        <br>New York Avenue,
        <br>United States
    </div>
</div>