<div id="@Carousel1ID" class="js-carousel g-pt-0 g-mb-10 slick-initialized slick-slider" data-infinite="true" data-fade="true" data-arrows-classes="u-arrow-v1 g-brd-around g-brd-white g-absolute-centered--y g-width-45 g-height-45 g-font-size-14 g-color-white g-color-primary--hover rounded-circle" data-arrow-left-classes="fa fa-angle-left g-left-40" data-arrow-right-classes="fa fa-angle-right g-right-40" data-nav-for="#@Carousel2ID">
    <div class="js-prev u-arrow-v1 g-brd-around g-brd-white g-absolute-centered--y g-width-45 g-height-45 g-font-size-14 g-color-white g-color-primary--hover rounded-circle fa fa-angle-left g-left-40 slick-arrow" style=""></div>
    <div class="slick-list draggable">
        <div class="slick-track" style="opacity: 1; width: 5436px;">
            <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 604px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1; height: auto;">
                <img class="img-fluid maxh500" src="../../assets/images/dev/1.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 604px; position: relative; left: -604px; top: 0px; z-index: 998; opacity: 0; height: auto;">
                <img class="img-fluid maxh500" src="../../assets/images/dev/2.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 604px; position: relative; left: -1208px; top: 0px; z-index: 998; opacity: 0; height: auto;">
                <img class="img-fluid maxh500" src="../../assets/images/dev/3.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 604px; position: relative; left: -1812px; top: 0px; z-index: 998; opacity: 0; height: auto;">
                <img class="img-fluid maxh500" src="../../assets/images/dev/4.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 604px; position: relative; left: -2416px; top: 0px; z-index: 998; opacity: 0; height: auto;">
                <img class="img-fluid maxh500" src="../../assets/images/dev/5.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 604px; position: relative; left: -3020px; top: 0px; z-index: 998; opacity: 0; height: auto;">
                <img class="img-fluid maxh500" src="../../assets/images/dev/6.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 604px; position: relative; left: -3624px; top: 0px; z-index: 998; opacity: 0; height: auto;">
                <img class="img-fluid maxh500" src="../../assets/images/dev/7.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 604px; position: relative; left: -4228px; top: 0px; z-index: 998; opacity: 0; height: auto;">
                <img class="img-fluid maxh500" src="../../assets/images/dev/8.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 604px; position: relative; left: -4832px; top: 0px; z-index: 998; opacity: 0; height: auto;">
                <img class="img-fluid maxh500" src="../../assets/images/dev/9.jpg" alt="Image Description">
            </div>
        </div>
    </div>

    <div class="js-next u-arrow-v1 g-brd-around g-brd-white g-absolute-centered--y g-width-45 g-height-45 g-font-size-14 g-color-white g-color-primary--hover rounded-circle fa fa-angle-right g-right-40 slick-arrow" style=""></div>
</div>
<div id="@Carousel2ID" class="slider-thumbnail js-carousel text-center u-carousel-v3 g-mx-minus-5 g-mb-10 slick-initialized slick-slider" data-infinite="true" data-center-mode="true" data-slides-show="5" data-is-thumbs="true" data-nav-for="#@Carousel1ID">
    <div class="slick-list draggable" style="padding: 0px;">
        <div class="slick-track" style="opacity: 1; width: 2952px; transform: translate3d(-492px, 0px, 0px);">
            <div class="js-slide g-cursor-pointer g-px-5 slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" tabindex="-1" style="width: 123px;">
                <img class="img-fluid" src="../../assets/images/dev/4.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-cursor-pointer g-px-5 slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1" style="width: 123px;">
                <img class="img-fluid" src="../../assets/images/dev/5.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-cursor-pointer g-px-5 slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 123px;">
                <img class="img-fluid" src="../../assets/images/dev/6.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-cursor-pointer g-px-5 slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 123px;">
                <img class="img-fluid" src="../../assets/images/dev/7.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-cursor-pointer g-px-5 slick-slide slick-cloned slick-active" data-slick-index="-2" aria-hidden="false" tabindex="-1" style="width: 123px;">
                <img class="img-fluid" src="../../assets/images/dev/8.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-cursor-pointer g-px-5 slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1" style="width: 123px;">
                <img class="img-fluid" src="../../assets/images/dev/9.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-cursor-pointer g-px-5 slick-slide slick-current slick-active slick-center" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 123px; height: auto;">
                <img class="img-fluid" src="../../assets/images/dev/1.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-cursor-pointer g-px-5 slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 123px; height: auto;">
                <img class="img-fluid" src="../../assets/images/dev/2.jpg" alt="Image Description">
            </div>
            <div class="js-slide g-cursor-pointer g-px-5 slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 123px; height: auto;">
                <img class="img-fluid" src="~/assets/images/dev/3.jpg" alt="Image Description">
            </div>
         
        </div>
    </div>

</div>


@code{


    [Parameter] public string Carousel1ID { get; set; } = "carousel1";
    [Parameter] public string Carousel2ID { get; set; } = "carousel2";

 }
