<div class="widget-title">
    <h3 class="title">
        Contact
    </h3>
</div>
<div class="media mb-2">
    <i class="d-flex g-color-gray-dark-v5 mt-1 mr-3 icon-communication-062 u-line-icon-pro"></i>
    <div class="media-body">
        <a class="g-color-gray-dark-v4" href="#">htmlstream@support.com</a>
    </div>
</div>
<div class="media mb-2">
    <i class="d-flex g-color-gray-dark-v5 mt-1 mr-3 icon-communication-033 u-line-icon-pro"></i>
    <div class="media-body">
        <span class="g-color-gray-dark-v4">+32 333 444 555</span>
    </div>
</div>