<div class="stickydiv">
    <!-- TEMPLE  TYPE -->
    <h2 class="h5 text-uppercase g-color-gray-dark-v1 fw700 filter-title">TEMPLE TYPE</h2>
    <form class="g-mb-20 filter-form">
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <label class="u-check g-pl-30">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon=""></i>
                </div>
                Shikharbaddh
            </label>
        </div>
        <!-- End Checkbox -->
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <label class="u-check g-pl-30">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon=""></i>
                </div>
                Hari Mandir
            </label>
        </div>
        <!-- End Checkbox -->
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <label class="u-check g-pl-30">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon=""></i>
                </div>
                Gurukul
            </label>
        </div>
        <!-- End Checkbox -->
    </form>
    <!-- DESH VIBHAG -->
    <h2 class="h5 text-uppercase g-color-gray-dark-v1 fw700 filter-title">DESH VIBHAG</h2>
    <form class="filter-form">
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <label class="u-check g-pl-30">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon=""></i>
                </div>
                Vadtal
            </label>
        </div>
        <!-- End Checkbox -->
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <label class="u-check g-pl-30">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon=""></i>
                </div>
                Gadhada
            </label>
        </div>
        <!-- End Checkbox -->
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <label class="u-check g-pl-30">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon=""></i>
                </div>
                Bhuj
            </label>
        </div>
        <!-- End Checkbox -->
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <label class="u-check g-pl-30">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon=""></i>
                </div>
                Ahmedabad
            </label>
        </div>
        <!-- End Checkbox -->
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <label class="u-check g-pl-30">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon=""></i>
                </div>
                Dholera
            </label>
        </div>
        <!-- End Checkbox -->
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <label class="u-check g-pl-30">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon=""></i>
                </div>
                Junagadh
            </label>
        </div>
        <!-- End Checkbox -->
    </form>
    <!-- End Result Types -->
</div>