<div class="component hero slate qa-hero--webinar-detail hero-animation ease-in">
    <div class="component-content">
        <div class="wrap">
            <p class="type"><span class="field-content-type-name">Temple</span></p>
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">
                    <h1 class="title" style="display:inline-flex">
                        <span class="field-title">
                            Swaminarayan Temple
                            Vadtaldham
                        </span>
                    </h1>
                    <h4 class="byline">
                        <span class="byline field-byline">
                            Welcome to one of the most sacred temples of Swaminarayan Sampraday. Vadtal Swaminarayan Temple is one of the two gaadis (daskshin desh, or the southern shrine) established by Lord Swaminarayan himself.
                        </span>
                    </h4>
                    <div class=" article-details event-time">
                        <span class="timezone-conversion">
                            <p class="published-date field-start-date-and-time">November, 03 1824</p>
                            <p class="event-time published-date field-start-date-and-time">ચૈત્ર સુદ નવમી</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>