<div class="stickydiv d-none d-sm-block 	">
    <!-- TEMPLE  TYPE -->
    <h3 class="h5 text-uppercase g-color-gray-dark-v1 fw700 filter-title">Navigation</h3>
    <form class="g-mb-20 filter-form">
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <a href="#" class="navlist active">Temple</a>
        </div>
        <!-- End Checkbox -->
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <a href="#" class="navlist">Location</a>
        </div>
        <!-- End Checkbox -->
        <!-- Checkbox -->
        <div class="form-group g-mb-5">
            <a href="#" class="navlist">History</a>
        </div>
        <div class="form-group g-mb-5">
            <a href="#" class="navlist">Saints</a>
        </div>
        <div class="form-group g-mb-5">
            <a href="#" class="navlist">Photos</a>
        </div>
        <!-- End Checkbox -->
    </form>

    <!-- End Result Types -->
</div>