<p class="g-mb-30">The Vadtal Swaminarayan Temple is a masterpiece in itself. The temple is a lotus shape when viewed from the top &amp; has 9 domes. Higher number domes were considered very impressive, especially during the time, the temple was built. Vadtal temple having 9 domes tell a lot about the impressiveness of the construction.</p>
<p class="g-mb-30">Also known as Lakshminarayan Dev Gaadi, coined after the idol of Lakshminarayan Dev in the central shrine. The temple is known &amp; is popular among millions of Indians because of Harikrushna Maharaj. Lord Swaminarayan was very fond of this idol &amp; advised all his devotees to worship the idol as himself. He promised to address &amp; acknowledge all the prayers with this idol.</p>
<p class="g-mb-30">The land for the temple was donated by Joban Pagi of Vadtal, who was most wanted dacoit of those times. Lord Swaminarayan converted the dacoit into his devotee years before he donated the land for the construction of temple. </p>

<div class="row g-mb-30">
    <div class="col-md-5">
        <img class="img-fluid w-100 g-mb-20 g-mb-0--md" src="assets/images/vadtal.jpg" alt="Image Description">
    </div>
    <div class="col-md-7 align-self-center">

        <p>The construction of the temple was carried out by S.G Brahmanand Swami, who was an influential personality himself in the field of singing &amp; poetics. The temple was ready within 15 months &amp; Supreme Lord Swaminarayan inaugurated the temple on 03 Nov 1824. </p>
        <p></p>
    </div>
</div>

<p class="g-mb-30">The temple has been a part of India’s freedom struggle. Mahatma Gandhi delivered a speech on non-cooperative movement, addressing the audience in his native language, Gujarati. He used the stage of Vadtal Swaminarayan Temple to resonate with the Hindu sentiments &amp; encourage them to join the non-cooperative movement. </p>
<p class="g-mb-30">
    Even Sardar Vallabhbhai Patel has visited Vadtal Swaminarayan Temple several times as his father, Jhaveribhai Patel, was a devotee to Lord Swaminarayan &amp; the temple.
</p>
<p class="g-mb-30">Lord Swaminarayan appointed two acharyas (religious guru) for two gaadis, Vadtal &amp; Ahmedabad. Currently, H.H 1008 Acharya Shri Rakeshprasadji Maharaj is honoring the Vadtal gaadi.</p>
