@inherits Web.Components.Common.SectionHeaderBase
<div class="component banner career-banner-center__container banner ">
    <div class="component-content link">
        <div class="subscribe-basic-body career-banner-center__contentWrapper ">
            <h3 class="field-title career-banner__title field-title animation-element in-view line-1 anim-typewriter">

                @Heading
                @*Get to know more about Temple and Dev's.*@

            </h3>
            <div class="subscribe-subscribed field-body career-banner__content field-body small-banner">
                <p>@Description</p>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="btn-subscribe-login btn-subscribe career-banner__cta">
                        <a class="btn-subscribe-login btn-subscribe" href="@CTAHref" data-variantfieldname="CTA">@CTAText <i class="fa fa-angle-double-down"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-none sharethis-inline-share-buttons text-center st-center  st-inline-share-buttons st-animated" id="st-1">
                        <div class="st-total st-hidden">
                            <span class="st-label"></span>
                            <span class="st-shares">
                                Shares
                            </span>
                        </div><div class="st-btn st-first    st-remove-label" data-network="facebook" style="display: none;">
                            <img alt="facebook-white sharing button" src="https://platform-cdn.sharethis.com/img/facebook-white.svg">

                        </div><div class="st-btn    st-remove-label" data-network="twitter" style="display: none;">
                            <img alt="twitter-white sharing button" src="https://platform-cdn.sharethis.com/img/twitter-white.svg">

                        </div><div class="st-btn    st-remove-label" data-network="whatsapp" style="display: none;">
                            <img alt="whatsapp-white sharing button" src="https://platform-cdn.sharethis.com/img/whatsapp-white.svg">

                        </div><div class="st-btn st-last    st-remove-label" data-network="pinterest" style="display: none;">
                            <img alt="pinterest-white sharing button" src="https://platform-cdn.sharethis.com/img/pinterest-white.svg">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider g-mb-30" style="margin-bottom:10px;"></div>