<div class="widget-title">
    <h3 class="title">
        Social Media
    </h3>
</div>
<div class="social-wrapper g-mb-20">
    <!-- Example Button -->
    <a href="#" class="btn-social u-btn-outline-bluegray btn btn-md u-btn-bluegray u-btn-hover-v1-4 g-letter-spacing-0_5 text-uppercase g-px-20 g-mr-10 g-mb-15">
        <i class="fa fa-facebook pull-left g-font-size-24 "></i>
        <span class="pull-left text-left" style="font-weight: 600;margin-top: 2px;">
            Facebook
        </span>
    </a>
    <!-- End Example Button -->
    <a href="#" class="btn-social u-btn-outline-red btn btn-md u-btn-red u-btn-hover-v1-4 g-letter-spacing-0_5 text-uppercase  g-px-20 g-mr-10 g-mb-15">
        <i class="fa fa-youtube  pull-left g-font-size-24 "></i>
        <span class="pull-left text-left" style="font-weight: 600;margin-top: 2px;">
            Youtube
        </span>
    </a>
    <!-- Example Button -->
    <a href="#" class="btn-social u-btn-outline-blue btn btn-md u-btn-blue u-btn-hover-v1-4 g-letter-spacing-0_5 text-uppercase  g-px-20 g-mr-10 g-mb-15">
        <i class="fa fa-twitter pull-left g-font-size-24 "></i>
        <span class="pull-left text-left" style="font-weight: 600;margin-top: 2px;">
            Twitter
        </span>
    </a>
    <!-- End Example Button -->
    <!-- Example Button -->
    <a href="#" class="btn-social u-btn-outline-pink btn btn-md u-btn-pink u-btn-hover-v1-4 g-letter-spacing-0_5 text-uppercase  g-px-20 g-mr-10 g-mb-15">
        <i class="fa fa-pinterest  pull-left g-font-size-24 "></i>
        <span class="pull-left text-left">
            Pinterest
        </span>
    </a>
    <!-- End Example Button -->
</div>