@page "/temple"
@model Web.Pages.Search.TempleModel
@{
}

<section>
    <component type="typeof(HeroSearch)" render-mode="Static" />

</section>


<section class="  templepage">
    <div class="container main-container">
        <!-- HERO END-->
        <div class="row g-pt-40 g-pb-60">
            <div class="col-lg-2 g-mb-50 g-mb-0--lg pl0 Navigationdesk">
                <component type="typeof(Facet)" render-mode="Static" />
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <component type="typeof(FacetSelected)" render-mode="Static" />
                        </div>
                    </div>
                    <component type="typeof(SearchResult)" render-mode="Static" param-Result='@Model.Result' />
                    <a href="#" id="showMore">Load More...</a>
                </div>
            </div>
        </div>
    </div>
</section>