@page "/temple"
@model Web.Pages.Search.TempleModel
@{
}

<section>
    <component type="typeof(HeroSearch)" render-mode="Static" />

</section>


<section class="  templepage">
    <div class="container main-container">
        <!-- HERO END-->
        <div class="row g-pt-40 g-pb-60">
            <div class="col-lg-2 g-mb-50 g-mb-0--lg pl0 Navigationdesk">
                <component type="typeof(Facet)" render-mode="Static" />
            </div>
            <div class="col-lg-10">

                
                    
                    <div class="row" id="infinite-list">
                        <div class="col-md-12">
                            <div class="row">
                                <component type="typeof(FacetSelected)" render-mode="Static" />
                            </div>
                        </div>
                        <component type="typeof(SearchResult)" render-mode="Static" param-Result='@Model.Result' />
                        <img class="loading" src="https://check-business.co.uk/static/img/loading.gif" />
                    </div>
                </div>
            </div>
    </div>
</section>

